{% if form.errors %}
  {% include 'fefu_lab/_form_errors.html' with form=form %}
{% endif %}

<button onclick="toggleForm('studentForm')">⬇️ Добавить студента</button>
<div id="studentForm" class="hidden">
  <form method="post">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group">
        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
      </div>
    {% endfor %}

    <button type="submit">Добавить</button>
  </form>
</div>
{% if students %}
<table>
  <tr>
    <th>ID</th>
    <th>Имя</th>
  </tr>
  {% for s in students %}
  <tr>
    <td>{{ s.id }}</td>
    <td><a href="{% url 'fefu_lab:student_detail' s.id %}">{{ s.full_name }}</a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
<h2>Никаких студентов пока не зачислено</h2>
{% endif %}
