{% extends 'fefu_lab/base/base.html' %}

{% block title %}Курс {{ course.title }}{% endblock %}

{% block content %}
  <h1>Курс "{{ course.title|lower }}"</h1>

  {% include 'fefu_lab/base/student_enrollment_form.html' with form=form %}

  <p>Идентификатор: {{ course.slug }}</p>
  <p>Описание: {{ course.description }}</p>
  <p>Продолжительность: {{ course.duration }} минут</p>
  <p>Преподаватель: {{ course.teacher_display }}</p>
  <p>Активен: {{ course.is_active_display }}</p>
  <p>Дата создания: {{ course.created_at }}</p>
{% endblock %}
