{% extends 'fefu_lab/base/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>Добро пожаловать!</h1>

{% if messages %}
  {% include 'fefu_lab/base/messages.html' with messages=messages %}
{% endif %}

{% if latest_students %}
  <h2>Список последних 5 студентов</h2>
  {% include 'fefu_lab/base/students_list.html' with students=latest_students %}
{% else %}
  <h2>Студентов пока нет</h2>
{% endif %}

{% if latest_courses %}
  <h2>Список последних 5 курсов</h2>
  {% include 'fefu_lab/base/courses_list.html' with courses=latest_courses %}
{% else %}
  <h2>Курсов пока нет</h2>
{% endif %}

{% endblock %}
