{% extends 'fefu_lab/base/base.html' %}

{% block title %}Студент {{ student.full_name }}{% endblock %}

{% block content %}
<h1>Студент {{ student.full_name }}</h1>

<p>Имя: {{ student.first_name_display }}</p>
<p>Фамилия: {{ student.last_name_display }}</p>
<p>День рождения: {{ student.birthday }}</p>
<p>Факультет: {{ student.faculty_display }}</p>
<p>Активен: {{ student.is_active_display }}</p>

{% if perms.fefu_lab.add_enrollment %}
{% include 'fefu_lab/base/student_enrollment_form.html' with form=form %}
{% endif %}
{% endblock %}
