html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

main {
  flex: 1;
  padding: 1rem 3rem;
}

header {
  color: var(--text-dark);
  background-color: var(--dark-bg);
  padding: 1rem 3rem;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header-navigation a {
  text-decoration: none;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 24px;
}

th {
  text-align: left;
}

.studentForm {
  border: 1px solid #ccc;
  background: #f9f9f9;
  padding: 12px 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

div#studentForm,
div#courseForm {
  margin-top: 10px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.alert {
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}

/* Buttons */

button {
  padding: 8px 16px;
  border-radius: 4px;
  background: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #2980b9;
}

/* Forms */

.form-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-bottom: 1rem;
}

.form-label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* Footer */

footer {
  color: var(--text-dark);
  background-color: var(--dark-bg);
  padding-bottom: 1rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.footer-column h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer-column p {
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 0.75rem;
}

.footer-links a {
  text-decoration: none;
}

.footer-copyright {
  font-weight: 500;
  margin-top: 1rem;
}

.footer-bottom {
  text-align: center;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --primary-color: #a1a7ec;

  --dark-bg: #a39ee4;
  --light-bg: #ced5f7;
  --text-dark: #232145;
  --text-light: #e4e9fb;
  --border-color: #7577df;
}
